<section class="m-12 bg-dark-blue">
    <div class="m-06">
        <div class="m-6 bg-03">
            <div class="module-content content">
                <a href="fantasy/runningbacks" method="GET"><h1>Compare Running Backs</h1></a>
                <p>Who will rush for more yards this week? </p>
                <div class="info">
                    <ul>
                        
                        <li class="tag"><a href="#"><i class="fa fa-tag"></i>Football</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-6 bg-03">
            <div class="module-content content">
                <a href="fantasy/tightends" method="GET"><h1>Compare Tight Ends</h1></a>
                <p>Gronkowskis Back! Who else could you choose? </p>
                <div class="info">
                    <ul>
                        
                        <li class="tag"><a href="#"><i class="fa fa-tag"></i>Football</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>